button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: inline-block;
    clear: both;
    margin: 10px 0px;

}

#placa {
	margin-top: 20px;
	margin-left: 20px;
	display: inline;
}


label{
	color: #555;
	display: inline-block;
	margin-bottom: .2em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

#divResultado {
  display: inline-block;
	padding-left: 150px;
}

.placa-nova {
	display: block !important;
margin-left: auto !important;
margin-right: auto !important;
width: 100% !important;
border: 3px #000 solid !important;
max-width: 300px !important;
height: 80px !important;
border-radius: 6px !important;
background-color: #fff !important;
background-size: cover !important;
font-size: 23px !important;
font-weight: 800 !important;
letter-spacing: .05px !important;
line-height: 26px !important;
text-transform: uppercase !important;
text-align: center !important;
color: #333 !important;
}
/*
#divResultado {
	margin-left: 20px;
	display: inline-block;
	border-width: medium;
  border-style: solid;
  border-color: #00f;
} */
